.product-container {
    display: flex;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
    width: 50%;
}

.product-image-big {
    object-fit: contain;
}

.product-image-small {
    object-fit: cover;
    margin-top: -30px;
    margin-right: 10px;
    cursor: pointer;
}

.product-image-small:hover {
    scale: 1.02;
    transition: all 0.1s;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    width: 50%;
}

.place-bid-container {
    display: flex;
}

.place-bid-form {
    text-align: center;
    width: 176px;
    box-shadow: none;
    margin-right: 20px;
}

.place-bid-label {
    font-size: 15px;
    color: #9B9B9B;
    letter-spacing: 0.52px;
    margin-top: 10px;
}

.wishlist-button {
    width: 140px;
    height: 36px;
}

.wishlist-icon-wished {
    font-size: 22px;
    margin-left: 5px;
    color: #CD5C5C;
}

.wishlist-icon {
    font-size: 22px;
    margin-left: 5px;
    color: #ECECEC;
}
