.white-circle {
    position: relative;
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 50%;
}

.purple-circle {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.RFS-StepperContainer>.RFS-StepContainer>.RFS-ConnectorContainer {
    margin-left: -6px;
    margin-right: -6px;
}
