.price-filter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    min-height: 200px;
    border: 1px solid #D8D8D8;
    padding: .75rem 1.25rem;
}

.price-range-container {
    position: relative;
    height: 80px;
}

.histogram-container {
    display: flex;
    align-items: flex-end;
    bottom: 9px;
    position: absolute;
    width: 100%;
    height: inherit;
}

.histogram-bar {
    background-color: #E4E5EC;
}

.price-range-slider {
    position: absolute;
    bottom: 0;
}

.price-range-slider > .rc-slider-track {
    cursor: pointer;
    background: #8367D8;
    border-radius: 1px;
    height: 2px;
}

.price-range-slider > .rc-slider-rail {
    cursor: pointer;
    background: #E4E5EC;
    border-radius: 1px;
    height: 2px;
}

.price-range-slider > .rc-slider-step {
    cursor: pointer;
    height: 2px;
}

.price-range-slider > .rc-slider-handle {
    background-image: radial-gradient(circle, #8367D8 40%, white 40%);
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border: 1px solid #9B9B9B;
}

.price-info-container {
    font-size: 14px;
    letter-spacing: 0.49px;
    color: #9B9B9B;
}
