.landing-page-top-container {
    background: #FAFAFA;
    height: 563px;
    width: 100%;
    display: flex;
}

.list-group-categories {
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.11);
    border-radius: 0;
    width: 24%;
    text-align: left;
    height: max-content;
    max-height: 99%;
    overflow-y: auto;
}

.list-group-categories > .list-group-item {
    border-color: #ECECEC;
    border-left: none;
    border-right: none;
    border-top: none;
    height: 51px;
}

.featured-product-container {
    padding: 4.6% 0 4.6% 5.3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto 0;
    width: 76%;
    height: 100%;
}

.featured-product-container-inner {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 70%;
    justify-content: space-around;
}

.featured-product-price {
    font-size: 24px;
    color: #8367D8;
    letter-spacing: 0.84px;
}

.featured-product-description {
    line-height: 22px;
    max-width: 323px;
    max-height: 200px;
    overflow-y: hidden;
}

.featured-container {
    margin-top: 3%;
    text-align: left;
}

.featured-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.featured-item-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.featured-item-image-xxl, .featured-item-image-xl, .featured-item-image-lg {
    cursor: pointer;
    object-fit: cover;
}

.featured-item-image-xxl:hover, .featured-item-image-xl:hover, .featured-item-image-lg:hover {
    scale: 1.02;
    transition: all 0.1s;
}

@media (max-width: 1199px) {
    .featured-product-container {
        flex-direction: column;
    }

    .featured-product-container-inner {
        margin-bottom: 10px;
        margin-left: unset;
        width: 100%;
        max-width: unset;
    }

    .list-group-categories {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .landing-page-top-container {
        flex-wrap: wrap;
    }

    .featured-product-container {
        padding-left: 0;
    }

    .featured-product-image {
        width: 100%;
        max-height: 82%;
    }

    .list-group-categories {
        width: 100%;
    }
}

.tabs-container {
    display: flex;
}

.custom-tab {
    font-size: 28px;
    cursor: pointer;
    letter-spacing: 0.98px;
    width: 180px;
    margin-bottom: -14px;
    margin-right: 30px;
    position: relative;
    padding-bottom: 8px;
}
