.topbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #252525;
    height: 40px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.49px;
    padding-right: 11.1%;
    padding-left: 11.1%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0.56px;
    padding-right: 11.1%;
    padding-left: 11.1%;
    height: 80px;
}

.navbar-brand {
    align-items: center;
    font-size: 24px;
    letter-spacing: 0.84px;
    font-weight: 200;
    color: #8367D8;
}

.navbar-brand:hover {
    text-decoration: none;
    color: #8367D8;
}

.navbar-auction-icon {
    color: #C4BFD6;
    margin: 5px 5px 10px;
}

.navbar-search {
    width: 30vw;
    position: relative;
    margin-left: 60px;
    box-shadow: 3px 3px 0 0 #ECECEC;
}

.navbar-search-icon {
    position: absolute;
    right: 8px;
    font-size: 36px;
    top: 9px;
    cursor: pointer;
}

.topbar-username {
    max-width: 40vw;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 5px;
    cursor: pointer;
}

.account-list {
    position: absolute;
    z-index: 2;
    width: 172px;
    right: 0;
    top: 80px;
    text-align: left;
    border: 1px solid #e5e5e5;
}

.account-list > .list-group-item {
    font-size: 16px;
    letter-spacing: 0.56px;
    color: #9B9B9B;
    border-color: white;
    cursor: pointer;
}

.account-list > .list-group-item:hover {
    color: #8367D8;
}

.account-list > .list-group-item:hover {
    background-color: white;
}


@media (max-width: 575px) {
    .topbar-username {
        max-width: 20vw;
        cursor: pointer;
    }

    .topbar-nav-links .nav-link {
        padding: 0.25rem 0.5rem;
    }

    .navbar-container {
        flex-direction: column;
    }

    .navbar-brand {
        padding-top: 10px;
    }

    .navbar-search {
        width: 90%;
    }

    .account-list {
        display: none;
    }
}
