.file-list {
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    list-style: none;
}

.file-item {
    position: relative;
    margin: 10px;
    cursor: move;
    transition: all 0.2s linear;
}

.file-img {
    width: 110px;
    height: 110px;
}
