.item-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: left;
}

.item-image-xxl, .item-image-xl, .item-image-lg {
    cursor: pointer;
    object-fit: cover;
}

.item-image-xxl {
    width: 18.2vw;
    height: 18.2vw;
}

.item-image-xl {
    width: 14.4vw;
    height: 19.4vw;
}

.item-image-lg {
    width: 14.4vw;
    height: 14.4vw;
}

.item-image-xxl:hover, .item-image-xl:hover, .item-image-lg:hover {
    scale: 1.02;
    transition: all 0.1s;
}

.word-wrap-xxl {
    cursor: pointer;
    max-width: 18.2vw;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.word-wrap-xl, .word-wrap-lg {
    cursor: pointer;
    max-width: 14.4vw;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 767px) {
    .item-container {
        position: relative;
        width: 100%;
    }

    .item-container:before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    .item-image-xxl, .item-image-xl, .item-image-lg {
        position: absolute;
        width: 100%;
        height: 82%
    }

    .word-wrap-xxl, .word-wrap-xl, .word-wrap-lg {
        max-width: 100%;
        word-wrap: break-word;
    }
}
