.tab-container {
    border: 1px solid #D8D8D8;
    margin: 0 auto;
}

.tab-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.7px;
    height: 60px;
}

.sell-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 535px;
}

.sell-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-tab-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #FAFAFA;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.7px;
    height: 50px;
    padding: 10px 40px;
}

.profile-tab-content {
    display: flex;
    padding: 40px 12vw 40px 40px;
}

.profile-tab-picture {
    padding-right: 40px;
    width: 25%;
}

.profile-tab-form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.seller-tab-buttons {
    display: flex;
    position: relative;
    margin-bottom: -11px;
}

.seller-tab {
    width: 500px;
    border: 1px solid #D9D9D9;
    box-shadow: none;
}

.settings-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.settings-tab {
    width: calc(50% - 10px);
    min-width: 309px;
    height: 290px;
    border: 1px solid #D8D8D8;
    text-align: left;
    margin-bottom: 20px;
}

.settings-tab-title {
    display: flex;
    align-items: center;
    background: #F0F0F0;
    font-size: 18px;
    letter-spacing: 0.63px;
    height: 50px;
    padding: 10px 10px 10px 33px;
}

.settings-tab-content {
    font-size: 18px;
    letter-spacing: 0.63px;
    padding: 33px
}

#btn-deactivate-account {
    width: 243px;
    margin-top: 38px;
    border: 3px solid #E3E3E3;
    box-shadow: 3px 3px 0 0 #ECECEC;
}

#btn-seller-tab{
    width: 125px;
    height: 48px;
    border: 1px solid #D9D9D9;
    box-shadow: none;
}

#btn-add-new-item{
    width: 160px;
    height: 48px;
    font-size: 18px;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: none;
}

@media (max-width: 991px) {
    .settings-tab {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .seller-tab-buttons {
        flex-direction: column;
    }
}
