.tab-container {
    border: 1px solid #D8D8D8;
    margin: 0 auto;
    width: 50vw;
    min-width: 320px;
}

.tab-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.7px;
    height: 60px;
    padding: 10px;
}

.tab-content {
    padding: 40px;
}

.form-control-description {
    text-align: right;
    color: #9B9B9B;
    font-size: 16px;
    letter-spacing: 0.56px;
}

.form-half-width {
    width: 48%;
    position: relative;
}

.sell-form-margin {
    margin-bottom: 30px;
}

.sell-submit-button {
    width: 183px;
}

.inline-feedback-error {
    position: absolute;
}

.form-sell-tab-two {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .form-half-width {
        width: 100%;
        position: relative;
    }

    .sell-submit-button {
        width: 48%;
    }

    .inline-feedback-error {
        position: static;
    }
}
