.footer-container {
    background: #252525;
    border: 1px solid #979797;
    color: white;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    height: 356px;
    padding: 3% 11.1% 4%;
    width: 100%;
    text-align: left;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-content>* {
    margin: 5px 0;
}

.footer-content-title {
    opacity: 0.5;
    letter-spacing: 0.56px;
    margin-bottom: 10px;
}

.footer-email-input {
    background: #3B3B3B;
    border: none;
    margin-right: 8px;
}

.footer-go-button-arrow {
    font-size: 24px;
}

.footer-newsletter-bottom {
    display: flex;
}