.app {
    color: #252525;
    font-size: 16px;
    letter-spacing: 0.56px;
    text-align: center;
    position: relative;
    min-height: 100vh;
}

.route-container {
    padding: 0 11.1% calc(11.1% + 356px) 11.1%;
}

h1 {
    font-size: 46px;
    letter-spacing: 1.61px;
    line-height: 52px;
    margin-bottom: 0;
    font-weight: normal;
}

h2 {
    font-size: 28px;
    letter-spacing: 0.98px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: unset;
}

h3 {
    font-size: 24px;
    letter-spacing: 0.84px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: unset;
}

.btn {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.63px;
    border: 3px solid #8367D8;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    color: currentColor;
}

.btn-xl {
    height: 54px;
}

.btn-xxl {
    height: 57px;
}

.btn-transparent-white {
    color: #D8D8D8;
    background-color: transparent;
}

.btn-transparent-black {
    color: #252525;
    background-color: transparent;
}

.btn-fill-purple {
    color: #FFFFFF;
    background: #8367D8;
    box-shadow: 3px 3px 0 0 rgba(131, 103, 216, 0.31);
}

.form-control {
    border-radius: 0;
    color: #9B9B9B;
    background: #FCFCFC;
    border: 1px solid #D8D8D8;
}

.form-control-xl-16 {
    height: 54px;
    font-size: 16px;
    letter-spacing: 0.56px;
}

.form-control-xl-18 {
    height: 54px;
    font-size: 18px;
    letter-spacing: 0.63px;
}

.form-control-gray {
    background: #FCFCFC;
    border: 1px solid #D8D8D8;
}

.form-group, .custom-control {
    text-align: left;
}

.form-label, .font-18, .custom-control-label {
    font-size: 18px;
    letter-spacing: 0.63px;
}

.form-row {
    justify-content: space-between;
}

.white-nav-link {
    color: white;
}

.white-nav-link:hover {
    color: lightgray;
    text-decoration: none;
}

.purple-nav-link {
    color: #8367D8;
}

.purple-nav-link:hover {
    color: #573BAC;
    text-decoration: none;
}

.black-nav-link {
    color: #252525;
}

.black-nav-link:hover {
    color: #8367D8;
    text-decoration: none;
}

.black-active-nav-link {
    color: #8367D8;
    font-weight: bold;
}

.social-media-container {
    font-size: 25px;
    display: flex;
}

.social-media-link {
    color: #919191;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.social-media-link:hover {
    color: white;
}

.grey-line {
    background: #ECECEC;
    width: 100%;
    height: 4px;
    margin: 10px 0;
}

.btn-transparent-gray {
    border: 3px solid #ECECEC;
    font-size: 15px;
    letter-spacing: 0.52px;
    font-weight: normal;
    padding: 0;
}

.font-15 {
    font-size: 15px;
    letter-spacing: 0.53px;
}

.avatar-image-small {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.table-gray-transparent {
    text-align: left;
    border: 1px solid #D8D8D8;
    margin-top: 200px;
}

.table-gray-transparent thead th, .table-gray-transparent td {
    font-size: 18px;
    letter-spacing: 0.63px;
    vertical-align: middle;
    border: none;
}

.table-gray-transparent th {
    background-color: #F0F0F0;
    font-weight: normal;
}

.table-gray-transparent thead tr th:first-child, .table-gray-transparent tbody tr td:first-child {
    padding-left: 50px;
}

.nav {
    align-items: center;
}

.avatar-image-tiny {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.btn-lg {
    height: 46px;
}

.btn-transparent {
    color: black;
    background-color: transparent;
    border: none;
}

.btn-transparent:hover {
    color: white;
    background-color: #8367D8;
}

.form-control-lg {
    height: 46px;
    font-size: 16px;
    letter-spacing: 0.56px;
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 512 512' style='font-size: 24px;' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'><path d='M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z'></path></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 0.5em;
    border: 3px solid #ECECEC;
    box-shadow: none;
}

.form-control-gray-no-shadow {
    background: #FCFCFC;
    border: 1px solid #D8D8D8;
    box-shadow: none;
}

.input-group-text {
    border-radius: 0;
    font-size: 18px;
    letter-spacing: 0.63px;
    padding-left: 1em;
    padding-right: 1em;
    color: #252525;
    background-color: #F0F0F0;
}


.react-datepicker {
    font-size: 1em;
    border-radius: 0;
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container > input {
    background-image: url("data:image/svg+xml;ut8,<svg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 1024 1024' style='font-size: 24px;' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'><path d='M880 184H712v-64c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v64H384v-64c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v64H144c-17.7 0-32 14.3-32 32v664c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V216c0-17.7-14.3-32-32-32zm-40 656H184V460h656v380zM184 392V256h128v48c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-48h256v48c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-48h128v136H184z'></path></svg>");
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 50%;
}

.react-datepicker__header {
    padding-top: 0.8em;
    background-color: #FCFCFC;
    border-bottom: none;
}

.react-datepicker__current-month {
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 6px;
}

.react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
}

.react-datepicker__month {
    font-size: 1em;
    margin: 0 1em 0.4em 1em;
}

.react-datepicker__day-names {
    margin-top: 0.4em;
    background-color: white;
}

.react-datepicker__day--keyboard-selected {
    background-color: #8367D8;
}

.react-datepicker__day--keyboard-selected:hover {
    background-color: #573BAC;
}

.react-datepicker__day, .react-datepicker__day-name {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.366em;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
    background-color: #8367D8;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover {
    background-color: #573BAC;
}

.react-datepicker__navigation--previous {
    border-right-color: #8367D8;
    left: 1em;
}

.react-datepicker__navigation--next {
    border-left-color: #8367D8;
    right: 1em;
}

.react-datepicker__navigation--previous:hover {
    border-right-color: #573BAC;
}

.react-datepicker__navigation--next:hover {
    border-left-color: #573BAC;
}

.custom-control-label::before {
    border-color: #D8D8D8;
    top: 0.4rem;
}

.custom-control-label::after {
    top: 0.4rem;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #8367D8;
    border-color: #8367D8;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(131, 103, 216, 0.31);
}

.select-clear {
    position: absolute;
    right: 38px;
    font-size: 30px;
    top: 12px;
    color: #919191;
    cursor: pointer;
    padding-right: 6px;
    border-right: 1px solid #D8D8D8;
}
