.shop-container {
    display: flex;
}

.shop-filters-container {
    display: flex;
    width: 20%;
    margin-right: 20px;
}

.shop-sorting-bar {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 43px;
}

.shop-products-container {
    width: 80%;
}

.shop-products {
    width: 100%;
}

.shop-spinner {
    position: absolute;
    left: 31%;
    color: #8367D8;
    top: 7px;
}
