.shop-container {
    display: flex;
}

.shop-filters-container {
    display: flex;
    width: 20%;
    margin-right: 20px;
}

.shop-sorting-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.shop-products-container {
    width: 80%;
}

.shop-products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 14.4vw);
    grid-gap: 5px;
    justify-content: space-between;
}
