.page-not-found-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.page-not-found-container > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.page-not-found-404 {
    line-height: normal;
    font-size: 15.625vw;
    color: #8367D8;
    letter-spacing: 10.5px;
    text-shadow: 8px 10px 0 #DADADA;
}

.page-not-found-text {
    font-size: 36px;
    letter-spacing: 1.26px;
    margin-bottom: 40px;
}

.auction-icon {
    color: #C4BFD6;
    margin: 5px 5px 10px;
}

.page-not-found-header {
    font-size: 24px;
    letter-spacing: 0.84px;
    font-weight: 200;
    color: #8367D8;
}

.btn-go-back {
    width: 179px;
    white-space: nowrap;
}

@media (max-width: 575px) {
    .page-not-found-text {
        font-size: 24px;
    }
}
